[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT Web App
Exec=firefox https://chatgpt.com/
Icon=/home/asifakonjee/.local/share/icons/Reversal-dark/apps/scalable/distributor-logo-siduction.svg
Terminal=false
Categories=Network;WebBrowser;
